<ion-header>
  <ion-toolbar>
    <ion-title>Parametrização</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
<ion-card-content>

  <label>
    Digite o valor máximo que se deseja gastar
  </label>
  <ion-input></ion-input>
  <div>
    <ion-checkbox color="danger"></ion-checkbox>
    <label for="">Deseja receber Push notification</label>
  </div>
  <div>
    <ion-checkbox color="danger"></ion-checkbox>
    <label>Deseja receber E-mail</label>
  </div>

  <ion-button >
    <ion-ripple-effect></ion-ripple-effect>
    Salvar
  </ion-button>

</ion-card-content>
  </form>

</ion-content>